.logo{
  background-image: url(../images/logo.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 100px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.socialIcon{
  width: 30px;
}

.imagesRadius{
  border-radius: 2rem ;
}

.cardSticky{
  top: 80px;
}

.zIndexTop{
  z-index: $zindex-sticky;
}